---
---
@import "base";

html {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

a {
	color: #0f00f0;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

.kid {
	position: relative;
	width: 30px; height: 40px;
}
.kid .bg { background-color: black; }
.kid div { position: absolute; }
.kid .body {
	width: 10px; height: 20px;
	margin: 15px 0 0 10px;
	@include border-radius(3px);
}
.kid .head {
	width: 30px; height: 20px;
	margin-top: 5px;
	@include border-radius(30px);
}
.kid .leg-1, .kid .leg-2 {
	width: 2px; height: 9px;
	margin-top: 33px;
}
.kid .leg-1 { margin-left: 12px; }
.kid .leg-2 { margin-left: 16px; }

.center-text {
	margin: 0 auto;
	padding: 20px;
	width: 500px;
}

.noise-text {
	padding: 10px;
	text-align: justify;
	color: #B7B7B7;
}

.noise-text strong {
	color: black;
}
