---
---
@import "base";

html {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

a {
	color: #0f00f0;
}

.subtle-link a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

hr {
	border: none;
	border-top: 1px solid;
}

pre {
	white-space: pre-wrap;
}

.kid {
	position: relative;
	width: 30px; height: 40px;

	div { position: absolute; }
	.bg { background-color: black; }
	.body {
		width: 10px; height: 20px;
		margin: 15px 0 0 10px;
		@include border-radius(3px);
	}
	.head {
		width: 30px; height: 20px;
		margin-top: 5px;
		@include border-radius(30px);
	}
	.leg-1, .leg-2 {
		width: 2px; height: 9px;
		margin-top: 33px;
	}
	.leg-1 { margin-left: 12px; }
	.leg-2 { margin-left: 16px; }
}

.center-text {
	margin: 0 auto;
	padding: 20px;
	max-width: 700px;
}

.noise-text {
	padding: 10px;
	text-align: justify;
	color: #9C9C9C;
	a { font-weight: bold; }
	strong { color: black; }
}

nav.nav-bar {
	position: absolute;
	z-index: 9001;
	right: 0; top: 0;
	margin: 3px;

	.nav-button {
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
		cursor: pointer;

		float: left;
		padding: 3px 5px;
		margin: 0;
		margin-left: 3px;

		background: rgba(0, 0, 0, 0.3);

		&:hover {
			background: rgba(0, 0, 0, 1);
		}
	}
}
