---
---
@import "base";
@import "normalize";

/* Site common styles */

html {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

a {
	color: #0f00f0;
}

.subtle-link a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

hr {
	border: none;
	border-top: 1px solid;
}

pre {
	white-space: pre-wrap;
}

.kid {
	width: 30px; height: 40px;
}

.center-text {
	margin: 20px auto;
	padding: 20px;
	max-width: 700px;
	line-height: 1.6;
}

nav.nav-bar {
	position: absolute;
	z-index: 9001;
	right: 0; top: 0;
	margin: 5px;

	.nav-button {
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
		text-align: center;
		cursor: pointer;

		float: left;
		padding: 3px 5px;
		margin: 0;
		margin-left: 5px;
		min-width: 35px;

		background: rgba(0, 0, 0, 0.3);

		&:hover {
			background: rgba(0, 0, 0, 1);
		}
	}
}
