# http://jekyllrb.com/docs/github-pages/#project-page-url-structure
# https://jekyllrb.com/docs/configuration/#serve-command-options
# e.g. baseurl: "/wat"
baseurl: ""

title: redsummernight

custom:
  polyfill_url: https://cdn.polyfill.io/v2/polyfill.min.js

sass:
  sass_dir: common/css/_sass
  style: compressed

kramdown:
  auto_id_stripping: true

defaults:
  -
    scope:
      # All files in the project
      path: ""
    values:
      layout: default
      author: [redsummernight]
      # Possible navigation links
      nav: [jump, credits]
      # Whether the page can be randomly jumped to
      jump_allowed: true
      # Credits/licenses in Markdown
      credits: ""
      # References/tutorial links in Markdown
      references: ""

exclude:
  - bower.json
  - bower_components
  - CONTRIBUTING.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - script
  - tmp
  # Travis bundles all gems in 'vendor'
  - vendor
