# http://jekyllrb.com/docs/github-pages/#project-page-url-structure
baseurl: ""

title: redsummernight

sass:
  sass_dir: css/_sass

defaults:
  -
    scope:
      # All files in the project
      path: ""
    values:
      layout: default
      stylesheets: []
      scripts: []
      # Credits in markdown
      credits: ""

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - script
  - tmp
  # Travis bundles all gems in 'vendor'
  - vendor
