---
title: redsummernight
description: what a horrible night to make a website
credits: |
  - [Sedgwick Ave](https://fonts.google.com/specimen/Sedgwick+Ave) font, Google Doodle Team UK
    (<a rel="license" href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">OFL</a>)
  - [Image](https://unsplash.com/photos/jy6BJNpEPHI) by Jr Korpa
    (<a rel="license" href="https://unsplash.com/license">Unsplash</a>)
---
<link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&amp;display=swap" rel="stylesheet">
<style>
{% capture raw_scss %}
	@import "base";

	html, body {
		width: 100%;
		height: 100%;
		background-color: rgb(34,9,51);
		color: pink;
	}

	.bg {
		width: 100%;
		height: 100%;
		position: fixed;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		background-image: url('{{ site.baseurl }}/common/img/jr-korpa-jy6BJNpEPHI-unsplash-640x426.jpg');
		@include filter(blur(5px) brightness(0.6));
	}

	.wrapper {
		position: relative;
		margin: 0 auto;
		padding: 20px;
		max-width: 460px;
		line-height: 1.6;

		&::after {
			/* clearfix */
			content: '';
			clear: both;
			display: table;
		}
	}

	.wrapper p {
		margin-bottom: 4em;
	}

	h1 {
		font-family: 'Sedgwick Ave', cursive;
		font-size: 40px;
		display: inline-block;
		margin-top: 1.5em;
		margin-left: -0.75em;
		margin-bottom: 0;
		color: cyan;
		@include transform(rotate(-5deg));
	}

	h1 .heart {
		color: red;
	}

	a { color: pink; }

	table {
		margin-right: 1em;
		color: yellow;
	}

	table.second {
		margin-bottom: 2em;
	}

	td {
		padding: 0.25em 0;
		padding-right: 1em;
		vertical-align: top;
	}

	td.date {
		color: magenta;
	}

	td.title a {
		color: cyan;
	}

	@media (max-width: 999px) {
		td.title {
			width: 80px;
		}
	}

	@media (min-width: 1000px) {
		.wrapper {
			max-width: 960px;
		}

		.wrapper > * {
			float: left;
		}

		table.first, p {
			clear: left;
		}
	}

{% endcapture %}{{ raw_scss | scssify }}
</style>

{% assign pages = '' | split: '' %}
{% for p in site.html_pages %}
	{% if p.title and p.url != page.url %}
		{% assign pages = pages | push: p %}
	{% endif %}
{% endfor %}
{% assign pages = pages | sort: 'date', 'first' | reverse %}

<div class="bg"></div>
<div class="wrapper">
	<h1>#ff0000 <span class="heart">&lt;3</span></h1>

	<table class="first">
		{% for p in pages %}
			{% if forloop.index <= forloop.rindex %}
			<tr>
				<td class="date">{{ p.date }}</td>
				<td class="title"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></td>
				<td>{{ p.description }}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>

	<table class="second">
		{% for p in pages %}
			{% if forloop.index > forloop.rindex %}
			<tr>
				<td class="date">{{ p.date }}</td>
				<td class="title"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></td>
				<td>{{ p.description }}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>

	<p>
		<a href="https://twitter.com/redsummernight0">twitter</a>,
		<a href="https://redsummernight.tumblr.com/">tumblr</a>,<br>
		talk to <a href="https://neocities.org/site/redsummernight">me</a> ██████████,<br>
		<a href="https://www.youtube.com/watch?v=R5RkXUC5Xa4" title="tell me tell me">tell me</a>
		all about it!
	</p>
</div>
