---
---
@import "base";

$c: cyan;
$m: magenta;
$y: yellow;

section {
	font-family: monospace;
	line-height: 1.5em;

	max-width: 700px;
	margin: 2em auto;
	padding: 0 2em;

	&.scene {
		max-width: 750px;
		margin-top: 100px;
	}
}

.desert {
	height: 150px;
	overflow: hidden;
	position: relative;

	background-color: $m;
	background-image: url('speedlines.svg');
	background-position: 0 15px;

	border: outset 10px #ccc;

	@include animation(drift 1s linear infinite);

	.sand {
		position: absolute;
		width: 100%; height: 20px;
		bottom: 0;
		background-color: $c;
	}

	.float {
		@include animation(float 2s ease infinite);
	}

	.kid {
		margin: 0 auto;
		margin-top: 50px;
		@include transform(rotate(90deg));
		.bg { fill: $y; }
	}
}

@include keyframes(float) {
	0% { @include transform(none); }
	50% { @include transform(translateY(4px)); }
	100% { @include transform(none); }
}

@include keyframes(drift) {
	0% { background-position: 0 15px; }
	100% { background-position: -600px 15px; }
}

sub {
	font-size: 100%;
}

.minimalism {
	text-transform: uppercase;
	&:before { content: '「 '; }
	&:after { content: ' 」'; }
}

.footsteps { letter-spacing: 0.5em; }
.fake-link { text-decoration: underline; }
.colors {
	background-color: black;
	padding: 0 0.5em;
	display: inline-block;

	span:first-child { color: $c; }
	span:nth-child(2) { color: $m; }
	span:nth-child(3) { color: $y; }
}
