---
---
@import "base";

body {
	font-size: 1.7em;
}

section {
	padding: 25px 0;
}

p, figure {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
}

figure.wide {
	width: 100%;
	text-align: center;
}

figcaption {
	font-size: 80%;
	font-style: italic;
	text-align: center;
	margin-top: 0.5em;
}

table {
	border-collapse: collapse;
	background-color: white;
	width: 80%;
	margin: 0 auto;
}

td {
	padding: 5px;
	border: 1px solid #555;
}

footer {
	font-size: 80%;
	text-align: right;
	background: black;
	color: white;
}

footer a {
	color: #EF6D3B;
}

section.intro {
	background-color: #FFBDF7;
}

section.location {
	background-color: #D396FF;
}

section.location a {
	color: #7D117E;
}

section.seashell {
	background-color: #FFFCFE;
}

section.seagod {
	background-color: #C4EAFF;
}

section.outro {
	background-color: #37135B;
	color: white;
}
