---
---
@import "base";

body {
	font-size: 1.7em;
	background: black;
}

section {
	padding: 25px 0;
}

strong {
	font-family: 'HorrorScribbles', verdana, arial, sans-serif;
	font-size: 2em;
}

p, figure {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
}

figure.wide {
	width: 100%;
	max-width: none;
	padding: 25px 0;
	text-align: center;
}

figcaption {
	font-size: 80%;
	font-style: italic;
	text-align: center;
	margin-top: 1em;
}

table {
	width: 400px;
	margin: 0 auto;
}

td, th {
	padding: 20px 0;
	text-align: center;
}

th {
	border-bottom: 1px solid black;
	font-weight: normal;
}

th:first-child, td:first-child {
	text-align: left;
}

footer {
	font-size: 80%;
	text-align: right;
	background: black;
	color: white;
}

footer a {
	color: #EF6D3B;
}

section.intro {
	background-color: #FFBDF7;
}

section.location {
	background-color: #D396FF;
}

section.location a {
	color: #7D117E;
}

section.seashell {
	background-color: #FFFCFE;
}

section.seagod {
	background-color: #C4EAFF;
}

section.outro {
	background-color: #37135B;
	color: white;
}
