<html lang="{{ page.lang }}">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{% if page.title and page.title != site.title %}
<title>{{ page.title | append: ' | ' | append: site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}

<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ page.author | join: ', ' }}">

<link rel="stylesheet" href="{{ site.baseurl }}/common/css/common.css">

<script>
	var current = '{{ page.url }}';
	var pages = [];
	function jump() {
		if (!pages.length) {
			return;
		}
		window.location = pages[Math.floor(Math.random() * pages.length)];
	}
</script>
