<nav class="nav-bar">
	{% if page.nav contains 'credits' %}
		{% capture url %}
			{{ site.baseurl }}/credits
			{% if page.credits != "" or page.references != "" %}
				{% if page.url != '/' %}
					#{{ page.title | slugify }}
				{% endif %}
			{% endif %}
		{% endcapture %}
		<a href="{{ url | replace: '	', '' | strip_newlines }}" class="nav-button" title="i made this">?</a>
	{% endif %}
	{% if page.nav contains 'jump' %}
	<a class="nav-button" title="to who knows where" onclick="jump()">jump</a>
	{% endif %}
</nav>
<script src="{{ site.baseurl }}/common/nav.js"></script>
