@mixin animation($v...) {
	-webkit-animation: $v;
	-moz-animation: $v;
	animation: $v;
}

@mixin animation-play-state($v...) {
	-webkit-animation-play-state: $v;
	-moz-animation-play-state: $v;
	animation-play-state: $v;
}

@mixin background-size($v...) {
	-webkit-background-size: $v;
	-moz-background-size: $v;
	background-size: $v;
}

@mixin border-radius($values...) {
	-webkit-border-radius: $values;
	-moz-border-radius: $values;
	border-radius: $values;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin transform($v...) {
	-webkit-transform: $v;
	-moz-transform: $v;
	transform: $v;
}

@mixin transform-origin($v...) {
	-webkit-transform-origin: $v;
	-moz-transform-origin: $v;
	transform-origin: $v;
}
