---
---
@import "base";
@import "kid";

.kid { left: 9%; bottom: 7%; }

body {
overflow: hidden;
background-color: #1A99ED;
@include animation(sky-time 30s linear infinite alternate);
}

@include keyframes(sky-time) {
0% { background-color: #1A99ED; }
50% { background-color: #0022bc; }
100% { background-color: black; }
}

@include keyframes(kite-time) {
0% { background-color: #CC0000; }
100% { background-color: red; }
}

#wrapper {
margin: 0; padding: 0;
top: 0; bottom: 0; left: 0; right: 0;
overflow: hidden;
position: absolute;
}
#wrapper div { position: absolute; }

.bg-house { background-color: rgba(85,87,191,0.5); /* #5557B5 */ }

#sky {
top: 0; bottom: 0; left: 0; right: 0;
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNjYiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==');
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 60%, rgba(255,255,255,0.66) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.66))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.66) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.66) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.66) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 60%,rgba(255,255,255,0.66) 100%); /* W3C */
}

#ground {
width: 100%; height: 7%;
bottom: 0;
background-color: #000000;
}

#kite {
width: 20px; height: 30px;
right: 30%; top: 15%;
background-color: #CC0000;
margin-right: -5px; margin-top: -10px;
@include transform(skewY(45deg));
@include animation(kite-time 30s linear infinite alternate);
}
#rope {
width: auto;
top: 15%; right: 30%;
left: 9%; bottom: 7%;
margin-bottom: 10px;
margin-left: 15px;
border-color: white;
border-width: 1px;
border-bottom-style: solid;
border-right-style: solid;
border-bottom-right-radius: 100%;
}

.cloud, .cloud:before, .cloud:after {
content: ''; display: block;
border-radius: 100%;
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=');
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%);
background: radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%);
}
.cloud { width: 130px; height: 110px; }
.cloud:after {
position: relative; left: 50px; top: 50px;
width: 130px; height: 80px;
@include transform(rotate(23deg));
}
.cloud:before {
position: absolute; top: 20px;
width: 170px; height: 110px;
@include transform(rotate(-67deg));
}
.c1 {
margin-top: -20px; margin-left: 80px;
@include transform(rotate(70deg));
}
.c2 {
margin-top: 80px; margin-left: 90px;
@include transform(rotate(150deg));
}
.c3 {
margin-top: 30px; margin-left: 130px;
@include transform(rotate(-40deg));
}
.c4 {
margin-top: 120px; margin-left: 180px;
@include transform(rotate(180deg));
}
#supercluster {
margin-top: 2%;
margin-left: 10%;
width: 50%;
height: 75%;
}
#supercluster2 {
right: 0;
width: 50%;
height: 45%;
@include transform(rotate(180deg));
}
#supercluster3 {
width: 50%;
height: 45%;
margin-left: 40%;
@include transform(rotate(40deg));
}
