---
title: credits
description: thief!
nav: [jump]
jump_allowed: false
---
<style>
	:target::before {
		content: "►";
	}

	ul {
		margin-bottom: 2em;
	}
</style>
<div class="center-text">
<h1>credits</h1>
<p>
	Multimedia contents (text, art, sound) are by me
	(<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>)
	unless otherwise noted below.
</p>

<p>
	<a href="https://github.com/redsummernight/redsummernight.github.io">Source code</a> is available
	under <a rel="license" href="https://github.com/redsummernight/redsummernight.github.io/blob/master/LICENSE">MIT</a>.
</p>

<p>
	If you see anything broken, please let me know
	on <a href="https://github.com/redsummernight/redsummernight.github.io/issues">GitHub</a>
	/ <a href="https://neocities.org/site/redsummernight">Neocities</a>
	/ <a href="https://redsummernight.tumblr.com/">Tumblr</a>
	/ <a href="https://twitter.com/redsummernight0">Twitter</a>.
</p>

<hr>
{% assign pages = '' | split: ''  %}
{% for p in site.html_pages %}
	{% if p.credits != "" or p.references != "" %}
		{% assign pages = pages | push: p  %}
	{% endif %}
{% endfor %}

{% assign pages = pages | sort: 'title'  %}
{% for p in pages %}
	<h2 id="{{ p.title | slugify }}">{{ p.title }}</h2>
	{% if p.credits != '' %}
		{{ p.credits | markdownify }}
	{% endif %}
	{% if p.references != '' %}
		{{ p.references | markdownify }}
	{% endif %}
{% endfor %}
</div>
