---
title: credits
description: thief!
nav: [jump]
jump_allowed: false
---
<div class="center-text subtle-link">
<h1>credits</h1>
<p>
	Multimedia contents (text, art, sound) are by me
	(<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>)
	unless otherwise noted below.
</p>

<p>
	<a href="https://github.com/redsummernight/redsummernight.github.io">Source code</a> is available
	under <a rel="license" href="{{ site.baseurl }}/LICENSE.txt">MIT</a>.
</p>

<p>
	If you see anything broken, you can let me know
	on <a href="https://github.com/redsummernight/redsummernight.github.io/issues">GitHub’s issue tracker</a>
	or <a href="http://redsummernight.tumblr.com/">Tumblr</a>.
</p>

<hr>
{% assign pages = '' | split: ''  %}
{% for p in site.pages %}
	{% if p.credits != "" or p.references != "" %}
		{% assign pages = pages | push: p  %}
	{% endif %}
{% endfor %}

{% assign pages = pages | sort: 'title'  %}
{% for p in pages %}
	<h2>{{ p.title }}</h2>
	{% if p.credits != '' %}
		{{ p.credits | markdownify }}
	{% endif %}
	{% if p.references != '' %}
		{{ p.references | markdownify }}
	{% endif %}
{% endfor %}
</div>
