---
---
@import "base";

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #15819D;
	background-image: url(forget.svg);
	background-repeat: repeat;
	background-position: -30px -10px;
}

body > * {
	position: absolute;
}

.rain {
	width: 100%;
	height: 100%;
	background-image: url(rain.svg);
	background-repeat: repeat;
	@include animation(drift 2s linear infinite);
}

.wait {
	left: 33%;
	right: 0;
	height: 100%;
	background-color: rgba(#FAF248, 0.2);
	background-image: url(wait.svg);
	background-repeat: repeat-y;
	@include animation(drift 30s linear infinite reverse);
}

.text {
	font-size: 1.5em;
	font-weight: bold;
	left: 45%;
	top: 40%;
	display: inline;
	padding: 1em;
	color: red;
	text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
	background-color: rgba(red, 0.5);
	@include user-select-none;
}

@include keyframes(drift) {
	0% { background-position: left top; }
	100% { background-position: left 40px; } // rain.svg: height 20px
}
