---
---
@import "base";

body {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #000;
	overflow: hidden;
}

#canvas {
	pointer-events: none;
}

#frame {
	width: 600px; height: 300px;
	position: absolute;
	top: 50%; left: 50%;
	@include transform(translate(-50%, -50%));
	@include border-radius(1em);
	background-color: #083409;
	overflow: hidden;
	cursor: progress;
}

#light {
	width: 16px; height: 16px;
	position: absolute;
	top: 50%; left: 50%;
	@include transform(translate(-50%, -50%));
	@include border-radius(10px);
	background-color: #fff;
	border: none;
	box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #0ff, 0 0 140px 90px #38ED41;
}
