---
---
@import "base";

body {
	width: 600px;
	margin: 0 auto;
	margin-top: 150px;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

#canvas {
	pointer-events: none;
}

#frame {
	height: 300px;
	@include border-radius(1em);
	background-color: #083409;
	overflow: hidden;
}

#light {
	width: 16px; height: 16px;
	position: relative;
	top: 50%; left: 50%;
	@include transform(translate(-50%, -50%));
	@include border-radius(10px);
	background-color: #fff;
	border: none;
	box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #0ff, 0 0 140px 90px #38ED41;
}

#clock {
	font-family: monospace;
	text-align: right;
	margin-right: 10px;
}

#clock a {
	color: red;
	text-decoration: none;
}

@include keyframes(blinker) {
	0% { visibility: visible; }
	50% { visibility: hidden; }
}

.blinker {
	@include animation(blinker 1s step-end infinite);
}
