<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
	<title>{{ title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ title }}{% endif %}">
	<meta name="author" content="{{ site.title }}">

	{% capture css_dir %}{{ site.baseurl }}/css{% endcapture %}
	{% capture ts %}{{ site.time | date: '%s' }}{% endcapture %}
	<link rel="stylesheet" href="{{ css_dir }}/normalize.css?v=3.0.3">
	<link rel="stylesheet" href="{{ css_dir }}/common.css?v={{ ts }}">
	{% for s in page.stylesheets %}
	<link rel="stylesheet" href="{{ s | replace:'CSS_DIR',css_dir }}.css?v={{ ts }}">
	{% endfor %}

	<script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
</head>
<body>
{{ content }}
</body>
</html>
