<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,
		user-scalable={% if page.user_scalable %}yes{% else %}no{% endif %}">
	{% capture title %}{{ page.title | default: site.title }}{% endcapture %}
	<title>{{ title }}</title>
	<meta name="description" content="{{ page.description | default: title }}">
	<meta name="author" content="{{ site.title }}">

	{% capture css_dir %}{{ site.baseurl }}/css{% endcapture %}
	{% capture ts %}{{ site.time | date: '%s' }}{% endcapture %}
	<link rel="stylesheet" href="{{ css_dir }}/normalize.css?v=3.0.3">
	<link rel="stylesheet" href="{{ css_dir }}/common.css?v={{ ts }}">
	{% for s in page.stylesheets %}
	<link rel="stylesheet" href="{{ s | replace:'CSS_DIR',css_dir }}.css?v={{ ts }}">
	{% endfor %}

	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</head>
<body>
{{ content }}
</body>
</html>
