---
title: ocean
description: bring a jacket and a megaphone in case of separation
stylesheets: [style]
swinging: false
credits: |
  - [Lea Verou](http://lea.verou.me/) - CSS3 [patterns 1](http://lea.verou.me/demos/css3-patterns.html), [2](http://lea.verou.me/css3patterns/)
  - [HTML5 Rocks](http://www.html5rocks.com/en/tutorials/masking/adobe/#toc-the-mask-property) - CSS masking
  - [MightyMeta](http://www.mightymeta.co.uk/css-noise/) - CSS noise
---
<div id="scene">
<div class="sky"></div>
<div class="table">
	{% if page.swinging %}
	<div class="table-row">
		<div class="table-cell beyond">
			<div class="swing">
				<div class="beam"></div>
				{% include kid.html class="flyer" %}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="table-row">
		<div class="table-cell lunar">
			{% if page.swinging == false %}{% include kid.html class="flyer float" %}{% endif %}
			<div class="moon"></div>
		</div>
	</div>
	<div class="table-row sea-level">
		<div class="table-cell sea horizontal stripes">
			{% include kid.html class="swimmer" %}
			<div class="shadow"></div>
		</div>
	</div>
</div>
<div class="noise"></div>
</div>
<script src="{{ site.baseurl }}/js/classlist.js"></script>
<script type="text/javascript">
var scene = document.getElementById("scene");
var disabledKeys = new Array(33,34,35,36,37,38,39,40); // pgup,pgdn,end,home,left,up,right,down

function freeze() {
	scene.classList.toggle("frozen");
}

function init() {
	scene.onclick = freeze;
	document.onkeydown = function(e) {
		var i, k = e ? e.which : window.event.keyCode;
		if (k == 32) { // space
			e.preventDefault();
			freeze();
		}
		for (i = 0; i < disabledKeys.length; i++)
			if (k == disabledKeys[i]) e.preventDefault();
	};
}

window.onload = init;
</script>
