---
title: ocean
description: bring a jacket and a megaphone in case of separation
swinging: false
credits: |
 - [CSS3 Patterns Gallery](http://lea.verou.me/css3patterns/), [Lea Verou](http://lea.verou.me/)
   (<a rel="license" href="https://github.com/LeaVerou/css3patterns/blob/master/license.txt">MIT</a>)
 - "Calm Ocean Waves On Shore 001", [McKinney Sound](http://www.freesfx.co.uk/users/mckinneysound)
   (<a rel="license" href="http://www.freesfx.co.uk/info/eula/">Free Sound Effects EULA</a>)

references: |
 - "[CSS Masking](http://www.html5rocks.com/en/tutorials/masking/adobe/#toc-the-mask-property)", HTML5 Rocks
 - "[CSS Noise](http://www.mightymeta.co.uk/css-noise/)", MightyMeta
---
<link rel="stylesheet" href="style.css">
<div id="scene">
<div class="sky"></div>
<div class="table">
	{% if page.swinging %}
	<div class="table-row">
		<div class="table-cell beyond">
			<div class="swing">
				<div class="beam"></div>
				{% include kid.html class="flyer" %}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="table-row">
		<div class="table-cell lunar">
			{% if page.swinging == false %}{% include kid.html class="flyer float" %}{% endif %}
			<div class="moon" title="a mostly-eaten moon"></div>
		</div>
	</div>
	<div class="table-row sea-level">
		<div class="table-cell sea">
			{% include kid.html class="swimmer" %}
			<div class="shadow"></div>
		</div>
	</div>
</div>
<div class="noise"></div>
</div>
<audio id="waves" src="calm_ocean_waves_on_shore_001.mp3" preload="auto" autoplay loop></audio>
<script type="text/javascript">
var scene = document.getElementById('scene');
var waves = document.getElementById('waves');
var disabledKeys = new Array(33,34,35,36,37,38,39,40); // pgup,pgdn,end,home,left,up,right,down

function freeze() {
	if (scene.className === 'frozen') {
		scene.className = '';
		waves.play();
	} else {
		scene.className = 'frozen';
		waves.pause();
	}
}

function init() {
	scene.onclick = freeze;
	waves.volume = 0.2;
	document.onkeydown = function(e) {
		var i, k = e ? e.which : window.event.keyCode;
		if (k == 32) { // space
			e.preventDefault();
			freeze();
		}
		for (i = 0; i < disabledKeys.length; i++)
			if (k == disabledKeys[i]) e.preventDefault();
	};
}

window.onload = init;
</script>
