---
---
@import "base";

body {
	height: 100%;
	overflow: hidden;
}

#message {
	position: absolute;
	top: 30%; left: 20%;
	background-color: #B80D46;
	padding: 1em;
	color: white;
}

.table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	position: absolute;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.frozen .noise {
	// https://www.thumbr.io/docs/reference#whitenoise
	// http://api.thumbr.it/whitenoise-200x200.png?background=ffffff00&noise=626262&density=97&opacity=46
	background-image: url('whitenoise-200x200.png');
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

@include keyframes(rotate) {
	/* damn hack, generate all prefixes for each keyframe prefix */
	0% { @include transform(rotate(60deg)); }
	100% { @include transform(rotate(419deg)); }
}

@include keyframes(drift) {
	0% { background-position: left top; }
	100% { background-position: left bottom; }
}

@include keyframes(stars) {
	0% { top: 0; }
	100% { top: -2000px; }
}

.table-cell.beyond { vertical-align: top; }
.table-cell.sea { vertical-align: bottom; }
.table-cell.lunar { vertical-align: middle; }

.sky {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #000;
	/* http://lea.verou.me/css3patterns/ */
	/* polka dot */
	@include animation(stars 200s linear infinite);
	background:
		-moz-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		-moz-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		black;
	background:
		-webkit-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		-webkit-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		black;
	background:
		radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		black;
	background-position: 0 0, 100px 100px;
	background-size: 200px 200px;
}

.moon {
	background-image: url(moon.svg);
	width: 200px;
	height: 200px;
	margin: 20px auto;
	@include transform(rotate(60deg));
	@include animation(rotate 240s linear infinite);
}

.frozen .sky,
.frozen .moon,
.frozen .sea {
	@include animation-play-state(paused);
}

.sea-level {
	height: 30%;
}

@mixin horizontal($stripe-color, $stripe-width: 50%) {
	/* http://lea.verou.me/demos/css3-patterns.html */
	/* horizontal stripes */
	// Example:
	//   stripe-color = red, stripe-width = 50%
	//   50% of the element's background height will be red, the rest will be transparent
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop($stripe-width / 100%, $stripe-color), color-stop($stripe-width / 100%, transparent), to(transparent));
	background-image: -webkit-linear-gradient($stripe-color $stripe-width, transparent $stripe-width, transparent);
	background-image: -moz-linear-gradient($stripe-color $stripe-width, transparent $stripe-width, transparent);
	background-image: -ms-linear-gradient($stripe-color $stripe-width, transparent $stripe-width, transparent);
	background-image: -o-linear-gradient($stripe-color $stripe-width, transparent $stripe-width, transparent);
	background-image: linear-gradient($stripe-color $stripe-width, transparent $stripe-width, transparent);
}

.sea {
	background-color: #B80D46;
	background-size: 20% 25%; // controls the size of the stripes
	@include horizontal(rgba(#ffffff, .2));
	@include animation(drift 15s linear infinite);
}

.frozen .sea {
	background-color: #616161;
	@include horizontal(rgba(#cccccc, .2));
}

@include keyframes(swing) {
	0% { @include transform(rotate(3deg)); }
	50% { @include transform(rotate(-3deg)); }
	100% { @include transform(rotate(3deg)); }
}
.swing {
	@include animation(swing 5s ease infinite);
	@include transform-origin(center top);
}

@include keyframes(float) {
	0% { @include transform(none); }
	50% { @include transform(translateY(4px)); }
	100% { @include transform(none); }
}
.float {
	@include animation(float 2s ease infinite);
}

.frozen {
	.shadow, .kid.swimmer {
		opacity: 0;
	}
	.kid.flyer, .beam {
		opacity: 1;
	}
}

.kid {
	margin: 0 auto;
	&.swimmer {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&.flyer {
		margin-top: -5px;
		opacity: 0;
		.bg { fill: white; }
	}
}

.shadow {
	border-bottom: 50px solid rgba(60, 60, 60, 0.2);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	margin: 0 auto;
	width: 4px;
}

.beam {
	height: 20px;
	width: 0;
	margin: 0 auto;
	border: 1px solid #fff;
	opacity: 0;
}

// ------
// heaven
// ------

$sky-color: #C3F7E3;

.caption {
	position: absolute;
	margin: 0;
	margin-top: 5em;
	padding: 1em;
	min-width: 250px;
	max-width: 500px;
	background-color: rgba($sky-color, 0.8);

	.rose {
		background-color: deeppink;
		color: white;
		font-weight: bold;
		padding: 0.1em 0.3em;
	}

	.leaf {
		color: darkgreen;
		font-weight: bold;
	}
}

.sinker {
	&.sea {
		background-color: #00bb00; // #7FBC81
		@include animation(drift 3s linear infinite reverse);
	}

	.frame {
		width: 50px; height: 25px;
		margin: 0 auto;
		overflow: hidden;
	}

	.kid {
		@include transform(rotate(66deg));
	}

	.shadow {
		width: 33px;
	}
}

.solar {
	background-color: $sky-color;
	height: 70%;

	.table-cell {
		overflow: hidden;
	}
}

.sun {
	$diameter: 200px;
	width: $diameter;
	height: 100%;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;

	div {
		position: absolute;
	}

	.rock {
		width: $diameter;
		height: $diameter;
		background-color: black;
		border-radius: 100%;
	}

	.drip {
		width: 7px;
		height: 100%;
		background-size: 100% 50%; // controls the size of the stripes

		&:nth-child(1) {
			width: 10px;
			top: 150px;
			left: 40%;
			@include horizontal(black, 95%);
			@include animation(drift 30s linear infinite);
		}

		&:nth-child(2) {
			top: 130px;
			left: 50%;
			@include horizontal(#5a5a5a, 45%);
			@include animation(drift 20s linear infinite);
		}

		&:nth-child(3) {
			top: 170px;
			left: 55%;
			@include horizontal(black, 99%);
			@include animation(drift 13s linear infinite);
		}
	}
}
