---
---
@import "base";

body {
	height: 100%;
	overflow: hidden;
}

.table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	position: absolute;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.frozen .noise {
	/* http://www.mightymeta.co.uk/css-noise/ */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==");
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

@include keyframes(rotate) {
	/* damn hack, generate all prefixes for each keyframe prefix */
	0% { @include transform(rotate(60deg)); }
	100% { @include transform(rotate(419deg)); }
}

@include keyframes(drift) {
	0% { background-position: left top; }
	100% { background-position: left bottom; }
}

@include keyframes(stars) {
	from { top: 0; }
	to { top: -2000px; }
}

.table-cell.beyond { vertical-align: top; }
.table-cell.sea { vertical-align: bottom; }
.table-cell.lunar { vertical-align: middle; }

.sky {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #000;
	/* http://lea.verou.me/css3patterns/ */
	/* polka dot */
	@include animation(stars 200s linear infinite);
	background:
		-moz-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		-moz-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		black;
	background:
		-webkit-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		-webkit-radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		black;
	background:
		radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		radial-gradient(rgba(255,255,255,0.4) 2px, transparent 3px),
		black;
	background-position: 0 0, 100px 100px;
	@include background-size(200px 200px);
}

.moon {
	background-image: url(moon.svg);
	width: 200px;
	height: 200px;
	margin: 20px auto;
	@include transform(rotate(60deg));
	@include animation(rotate 240s linear infinite);
}

.frozen .sky,
.frozen .moon,
.frozen .sea {
	@include animation-play-state(paused);
}

.sea-level {
	height: 30%;
}

.sea {
	@include animation(drift 15s linear infinite);
}

/* http://lea.verou.me/demos/css3-patterns.html */
.horizontal {
	background-color: #B80D46;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.frozen .horizontal {
	background-color: #616161;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(204, 204, 204, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -webkit-linear-gradient(rgba(204, 204, 204, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(204, 204, 204, .2) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(rgba(204, 204, 204, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(204, 204, 204, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(204, 204, 204, .2) 50%, transparent 50%, transparent);
}

.stripes {
	background-size: 20% 25%; /* Controls the size of the stripes */
}

@include keyframes(swing) {
	0% { @include transform(rotate(3deg)); }
	50% { @include transform(rotate(-3deg)); }
	100% { @include transform(rotate(3deg)); }
}
.swing {
	@include animation(swing 5s ease infinite);
	@include transform-origin(center top);
}

@include keyframes(float) {
	0% { @include transform(none); }
	50% { @include transform(translateY(4px)); }
	100% { @include transform(none); }
}
.float {
	@include animation(float 2s ease infinite);
}

.frozen {
	.shadow, .kid.swimmer {
		opacity: 0;
	}
	.kid.flyer, .beam {
		opacity: 1;
	}
}

.kid {
	margin: 0 auto;
	&.swimmer {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&.flyer {
		margin-top: -5px;
		opacity: 0;
		.bg { background-color: white; }
	}
}

.shadow {
	border-bottom: 50px solid rgba(60, 60, 60, 0.2);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	margin: 0 auto;
	width: 4px;
}

.beam {
	height: 20px;
	width: 0;
	margin: 0 auto;
	border: 1px solid #fff;
	opacity: 0;
}
